/*
*   a set of color range for selected theme
*   blue color
*
*
*
*/

:root {
    --color-dark:       black;
    --color-subdark:    #777;
    --color-top:        #0277BD;
    --color-main:       #0288D1;
    --color-supmain:    #03A9F4;
    --color-accent-1:   #4169e1; /*royalblue*/
    --color-accent-2:   #152e86;
    --color-accent-3:   #1b64b0;
    --color-light:      #DFDFDF;
    --color-suplight:   #e7e2bf;
}