/*
*   a set of color range for selected theme
*   orange color
*
*
*
*/

:root {
    --color-dark:       black;
    --color-subdark:    #777;
    --color-top:        #FF9800;
    --color-main:       #FFA726;
    --color-supmain:    #ffce4e;
    --color-accent-1:   #2365a6;
    --color-accent-2:   #ff9800;
    --color-accent-3:   #FF8C00;    /*darkOrange*/
    --color-light:      #DFDFDF;
    --color-suplight:   #e7e2bf;
}